<html>
<link href="/assets/styles.css" rel="stylesheet" type="text/css">
<head>
</head>
<title></title>
<body>
<h1>Dxc Technology</h1>

<center><h3>Log In</h3></center>
<div id="elogin_form">
    <h3>Employess : Log In</h3>
<form id="inside" method="POST" action="/index">
    <label> Id :</label>
    <input type="text" name="id" placeholder="Write your Id.."><br>
    <label> Password :</label>
    <input type="password" name="password" placeholder="Write your Password.."><br>
    <input type="submit" name="submit" value="Submit">

</form>
</div>

<div id="mlogin_form">
    <h3>Manager : Log In</h3>
    <form id="inside" method="POST" action="/index">
        <label> Id :</label>
        <input type="text" name="id" placeholder="Write your Id.."><br>
        <label> Password :</label>
        <input type="password" name="password" placeholder="Write your Password.."><br>
        <input type="submit" name="submit" value="Submit">

    </form>
</div>
<script src="./bundle.js"></script>
</body>
</html>