<html>
<link href="/assets/styles.css" rel="stylesheet" type="text/css">
<head>
</head>
<title></title>
<body>
<h1>Dxc Technology</h1>

<center><h3>Log In</h3></center>
<div id="elogin_form">
    <h3>Employess : Log In</h3>
<form id="einside" method="POST">
    <label> Email :</label>
    <input type="email" id="email" ><br>
    <label> Password :</label>
    <input type="password" id="phone_no"><br>
    <button type="button" id="elogin_form_submit">Login</button>
</form>

<div id="mlogin_form">
    <h3>Manager : Log In</h3>
    <form id="inside"  method="POST">
        <label> Email :</label>
        <input type="email" id="f_email" name="email" placeholder="Write your email.."><br>
        <label> Password :</label>
        <input id="f_password" type="password" name="password" placeholder="Write your Password.."><br>
        <button type="button" id="mlogin_form_submit" value="Submit">Click me</button>
    </form>
</div>
    <!--<div>-->
        <!--<form id="test">-->
            <!--<button id="test" value="submit">Test me</button>-->
        <!--</form>-->

    <!--</div>-->
<script src="../bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>