<html>
<link href="../assets/styles.css" rel="stylesheet" type="text/css">
<head>
</head>
<title></title>
<body>
<h1>Inside Write</h1>

<center><h3>Log In</h3></center>
    <form id="inside" method="post" action="/insideWrite.ejs">
        <label> Id :</label>
        <input type="text" name="id" value=><br>
        <label> Password :</label>
        <input type="password" name="password" value=><br>
        <input type="submit" name="submit1" value="Submit">
    </form>
</body>
</html>